@charset "utf-8";

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#login-screen {
    padding: 8px;
}

#login-screen > header h1 {
    font-family: "Futura", sans-selif;
    text-align: center;
}

.panel {
    background-color: #F0F0F0;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
}

.panel > header h1 {
    font-size: 100%;
}

#chat-members-title {
    font-size: 80%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline;
}

#chat-members {
    font-size: 80%;
    margin: 4px 8px;
    padding: 0;
}

#chat-members li {
    list-style: none;
    padding: 0 4px;
    display: inline-block;
}

#chat-messages-area {
    overflow: scroll;
}

#chat-messages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-message {
    position: relative;
    margin: 2px 8px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
}

.chat-message:nth-child(even) {
    background-color: #F0FFFF;
}

.chat-message-name {
    margin: 0;
    padding: 2px 4px;
    background-color: #F0F0F0;
    overflow: hidden;
}

.chat-message-text {
    margin: 0;
    padding: 2px 4px;
    overflow: scroll;
}

.chat-message-date {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 60%;
    margin: 4px;
}

